{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "4f996ca7-e8e3-4902-86f7-eeac999a5409",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}